<html>
    <head>
        <link rel='stylesheet' href='/styles/homePage.css' />
        <title>Wisconsin College Football Analytics</title>
        <style>
          tr {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            
          }
          
          th {
            font-size: 30px;
            margin-bottom: 30px;
            text-align: center;
            color: white;
          }
        </style>
    </head>
    

    
<div class = "container" style = "width: 500px">
  <h1 style = "font-size: 100px; color: white; font-family: 'Open Sans'; text-align: center; margin-bottom: 5px">WISCFA</h1>  
  <h1 style = "font-size: 25px; color: black; font-family: 'Open Sans'; text-align: center">Wisconsin College Football Analytics</h1>  
  <div class="wrap" style = "margin-bottom: 40px">
    <a href="/">
      <div class="first">Back</div>
      <div class="second">Return to Homepage</div>
    </a>
  </div>
  
  
  <h1 style = "margin-top: 30px; text-align: left; color: #FFF">Methodology</h1>
  <ul>
  <li><h2 style = "margin-top: 5px; margin-bottom: 25px; font-family: 'Open Sans'; font-weight: normal; text-align: left">Team rankings are determined using the Colley Method. This method for ranking teams, created by mathematician Wesley Colley, eliminates some biases by only considering a team's record and strength of schedule.</h2></li>
   <li><h2 style = "margin-top: 5px; margin-bottom: 5px; font-family: 'Open Sans'; font-weight: normal; text-align: left">The formula for determining win probabilities was found by doing a logistic regression analysis on data from 2016 FBS games. This determined the effect of different variables on each team's win probability in a given matchup. The variables used were each team's Colley Rating, AP poll rank, whether or not the team was a member of a Power Five conference, and whether the team was home or away. </h2></li>
   </ol>
  

</div>


</html>
