<!doctype html>


<html>
    <head>
        <link rel='stylesheet' href='/styles/homePage.css' />
        <title>Wisconsin College Football Analytics</title>
    </head>
    
    
<div class="container" style = "width: 500px">
  <h1 style = "font-size: 100px; color: white; font-family: 'Open Sans'; text-align: center; margin-bottom: 5px;">WISCFA</h1>  
  <h1 style = "font-size: 25px; color: black; font-family: 'Open Sans'; text-align: center">Wisconsin College Football Analytics</h1> 

  
  <div class="wrap">
    <a href="/rankings">
      <div class="first">Rankings</div>
      <div class="second">End of 2016</div>
    </a>
  </div>
  <div class="wrap" style = "margin-top: 30px">
    <a href="/probabilities">
      <div class="first">Win Probabilities</div>
      <div class="second">2017: Week One</div>
    </a>
  </div>
  <div class="wrap" style = "margin-top: 30px">
    <a href="/performance">
      <div class="first">Performance</div>
      <div class="second">Model's Performance in 2017</div>
    </a>
  </div>
  <div class="wrap" style = "margin-top: 30px">
    <a href="/about">
      <div class="first">About</div>
      <div class="second">Methodology</div>
    </a>
  </div>
</div>
</html>
