
<html>
    <head>
        <link rel='stylesheet' href='/styles/homePage.css' />
        <style>
          tr {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            border-bottom: solid 2px #FFF;
            border-radius: 4px;
            padding: 10px;
            
          }
          
          table { 
            border-collapse: collapse;
            border-spacing: 10px;
          
    
          }
          
          td{
            height: 50px;
            font-weight: bold;
          }
          
          th {
            font-size: 30px;
            margin-bottom: 30px;
            text-align: center;
            color: white;
          }
          
          .winner {
            color: #006400;
          }
        </style>
    </head>
    

    
<div class = "container" style = "width: 700px">
  <h1 style = "font-size: 100px; color: white; font-family: 'Open Sans'; text-align: center; margin-bottom: 5px">WISCFA</h1>  
  <h1 style = "font-size: 25px; color: black; font-family: 'Open Sans'; text-align: center">Wisconsin College Football Analytics</h1>  
  <div class="wrap" style = "margin-bottom: 40px">
    <a href="/">
      <div class="first">Back</div>
      <div class="second">Return to Homepage</div>
    </a>
  </div>
  
    <h1 style = "font-size: 25px; margin-bottom: 5px; color: black; font-family: 'Open Sans'; text-align: center">Performance</h1>  
    <h1 style = "margin-top: 10px; margin-bottom: 60px; font-family: 'Open Sans'; font-size: 15px; font-weight: normal">Number of correct predictions will be shown following each week </h1>
  
  
<table style = "width: 700px;">

  <tr><td>Week One</td><td>0/0</td></tr>

  </table>

</div>


</html>