
<html>
    <head>
        <link rel='stylesheet' href='/styles/homePage.css' />
        <title>Wisconsin College Football Analytics</title>
        <style>
          tr {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            border-bottom: solid 2px #FFF;
            border-radius: 4px;
            padding: 10px;
            
          }
          
          table { 
            border-collapse: collapse;
            border-spacing: 10px;
          
    
          }
          
          td{
            height: 50px;
            font-weight: bold;
          }
          
          th {
            font-size: 30px;
            margin-bottom: 30px;
            text-align: center;
            color: white;
          }
          
          .winner {
            color: #006400;
          }
        </style>
    </head>
    

    
<div class = "container" style = "width: 700px">
  <h1 style = "font-size: 100px; color: white; font-family: 'Open Sans'; text-align: center; margin-bottom: 5px">WISCFA</h1>  
  <h1 style = "font-size: 25px; color: black; font-family: 'Open Sans'; text-align: center">Wisconsin College Football Analytics</h1>  
  <div class="wrap" style = "margin-bottom: 40px">
    <a href="/">
      <div class="first">Back</div>
      <div class="second">Return to Homepage</div>
    </a>
  </div>
  
    <h1 style = "font-size: 25px; color: black; font-family: 'Open Sans'; text-align: center">Week One Probabilities</h1>  
  
  
<table style = "width: 700px;">

  <% entries = data.map(function(elem) {
    if (elem.homeProb > elem.awayProb) {
    return '<tr><td style = "text-align: left;" class = "winner">' + elem.homeTeam + '</td><td class = "winner">' + Math.round(elem.homeProb*10)/10 + '%</td><td style = "text-align: left;">' + elem.awayTeam + '</td><td>' + Math.round(elem.awayProb*10)/10 + '%</td></tr>';
}
else {
  return '<tr><td style = "text-align: left;">' + elem.homeTeam + '</td><td>' + Math.round(elem.homeProb*10)/10 + '%</td><td style = "text-align: left;" class = "winner">' + elem.awayTeam + '</td><td class = "winner">' + Math.round(elem.awayProb*10)/10 + '%</td></tr>';
}}) 
-%>
<p><%- entries.join("") %></p>

  </table>

</div>


</html>
